<header class="topbar">
  <div class="topbar-left">
    <h1><%= pageTitle %></h1>
    <% if (typeof pageSubtitle !== 'undefined' && pageSubtitle) { %>
      <p><%= pageSubtitle %></p>
    <% } %>
  </div>
  <div class="topbar-right">
    <div class="connection-indicator disconnected compact" id="globalTopbarConnectionIndicator">
      <span class="dot red" id="globalTopbarConnectionDot"></span>
      <span id="globalTopbarConnectionText">Disconnected</span>
    </div>
    <div class="credits-badge" id="globalCreditsBadge">
      <i class="fa-solid fa-coins"></i>
      <span id="globalCreditsValue"><%= user ? user.credits : 0 %></span> Credits
      <span class="badge badge-warning global-running-badge" id="globalRunningBadge" style="display:none;">
        <span class="dot orange"></span>
        <span id="globalRunningCount">0</span> Running
      </span>
    </div>
  </div>
</header>
<div id="globalRealtimeBanner" class="global-realtime-banner" style="display:none;"></div>
<div
  id="realtimeUserBootstrap"
  data-stream-url="/realtime/stream"
  data-poll-url="/dashboard/realtime"
  data-initial-credits="<%= user ? user.credits : 0 %>"
></div>